{% extends 'polls/layout.html' %}
{% block content %}
<form action="{% url 'quiz' %}" method="post">
    {% csrf_token %}

    <ul class="list-group">
        {% for question in questions %}
        <li class="list-group-item list-group-item-action active">|{{question.id}}> {{question.question_text}}</li>

        {% for choice in question.choice_set.all %}

        <label> <input type="radio" value='{{choice.id}}' name='{{question.id}}'>{{choice.choice_text}}</label>

        {% endfor %}
        {% endfor %}

    </ul>
    <input type="submit" value="Done">
</form>
{% endblock content %}